body {
    background-color: rgb(33, 33, 33);
    color: rgb(240, 240, 240);
    width: 90%;
    overflow: hidden;
}

#aboutTitle {
    font-size: 3em;
}

#aboutInfo {
    font-size: 1.5em;
    height: 100%;
}

.w3-animate-bottom {
    animation: 1.5s ease 0s normal none 1 running animatebottom;
}

.w3-animate-left {
    animation: 1s ease 0s normal none 1 running animateleft;
}

.hidden {
    display: none;
}