body {
    height: 100vh;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
}

#homeContainer {
    margin: auto;
    color: wheat;
    height: 400px;
    width: 80%;
}

#horizontalTable {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#account {
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#name {
    height: 80px;
    font-size: 2em;
}

#profession {
    font-size: 1em;
}

#profilePic {
    background-color: rgb(255, 245, 225);
    width: 100%;
}

#socialMedia {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 200px;
    justify-content: space-around;
}
