body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
}

#homeContainer {
    margin: auto;
    color: wheat;
    height: 400px;
    width: 80%;
}

#horizontalTable {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#account {
    height: 170px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#name {
    height: 80px;
    font-size: 2em;
}

#profession {
    font-size: 1em;
}

#profilePic {
    background-color: rgb(255, 245, 225);
    width: 100%;
    height: 200px;
}

#socialMedia {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 200px;
    justify-content: space-around;
}

.w3-animate-top {
    animation: 1s ease 0s normal none 1 running animatetop;
}

.w3-animate-left {
    animation: 1s ease 0s normal none 1 running animateleft;
}

.w3-animate-bottom {
    animation: 1s ease 0s normal none 1 running animatebottom;
}

.hidden {
    display: none !important;
}