body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 33, 33);
}

iframe {
    min-height: 100vh;
    height: 1000px;
    max-height: 200vh;
    width: 100%;
    border: 0;
}

#projectPage {
    min-height: 1600px;
}

#aboutPage {
}

.normal {
    height: 100vh;
}

.overflowHidden {
    overflow: hidden;
}

#aboutTitle, #resumeTitle {
    color: rgb(240, 240, 240);
    font-size: 3em;

    transform: translateX(-25%);
    opacity: 0;
    transition: all .5s ease-out;
}

#aboutTitle.slide-right, #resumeTitle.slide-right {
    transform: translateX(0);
    opacity: 1;
}

#contactTitle {
    color: rgb(240, 240, 240);
    font-size: 3em;
    text-align: center;

    opacity: 0;
    transition: all 1.5s ease-out;
}

#aboutPage, #resumePage, #contactPage {
    transform: translateY(25%);
    opacity: 0;
    transition: all 1s ease-out;
}

#aboutPage.slide-up, #resumePage.slide-up, #contactPage.slide-up,
    #contactTitle.slide-up {
    transform: translateY(0);
    opacity: 1;
}