body {
    background-color: rgb(33, 33, 33);
}

#navbar {
    min-height: 130px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

#homeLink {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

#otherLinks {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}