body {
    margin: 0;
    min-height: 100vh;
    height: max-content;
    background-color: rgb(33, 33, 33);
    color: rgb(0, 0, 0);
}

.project {
    position: relative;
    margin: auto;
    height: max-content;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);

    transition: all 1s ease-out;
}

.project.fade-in {
    opacity: 1;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.224);
    height: 100%;
    width: 95%;
    margin: auto;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 90%;
    margin: auto;
    color: white;
}

.projectTitle {
    font-size: 2em;
}

.projectLink, .hello {
    background-color: rgba(245, 245, 220, 0.808);
    width: 85%;
    max-width: 300px;
    max-height: fit-content;
    height: min-content;
    min-height: 40%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid white;
}

img {
    height: 100%;
    width: 100%;
}

.rightSide {
    transform: translateX(-110%);
    opacity: 0;
    transition: all 1s ease-out;
}

.rightSide.slide-right {
    transform: translateX(0);
    opacity: 1;
}

.w3-animate-left {
    animation: 1.5s ease 0s normal none 1 running animateleft;
}

.w3-animate-right {
    animation: 1.5s ease 0s normal none 1 running animateright;
}