body {
    background-color: rgb(33, 33, 33);
    color: rgb(240, 240, 240);
}

#resumeTitle {
    font-size: 3em;
}

#resumeInfo {
    font-size: 1.5em;
}

.w3-animate-bottom {
    animation: 1.5s ease 0s normal none 1 running animatebottom;
}

.w3-animate-left {
    animation: 1s ease 0s normal none 1 running animateleft;
}